@page
@model Semester_Projekt.Pages.Kunde.EditKundeModel
@{
}
<h2>Update Kunde Profil</h2>
<article class="row">
    <form method="post">
        <input type="hidden" asp-for="KundeModel.KundeID" class="form-control" />

        <section class="form-group">
            <label asp-for="KundeModel.KundeName"></label>
            <input asp-for="KundeModel.KundeName" class="form-control"/>
            <span asp-validation-for="KundeModel.KundeName" class="text-danger"></span>
        </section>
        <section class="form-group">
            <label asp-for="KundeModel.KundeAdresse"></label>
            <input asp-for="KundeModel.KundeAdresse" class="form-control"/>
            <span asp-validation-for="KundeModel.KundeAdresse" class="text-danger"></span>
        </section>
        <section class="form-group">
            <label asp-for="KundeModel.KundePostNr"></label>
            <input asp-for="KundeModel.KundePostNr" class="form-control"/>
            <span asp-validation-for="KundeModel.KundePostNr" class="text-danger"></span>
        </section>
        <section class="form-group">
            <label asp-for="KundeModel.KundeCVR"></label>
            <input asp-for="KundeModel.KundeCVR" class="form-control"/>
            <span asp-validation-for="KundeModel.KundeCVR" class="text-danger"></span>
        </section>
        <button type="submit" class="btn btn-default">Update Kunde</button>
    </form>
</article>