<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Unik App</title>
    <link rel="stylesheet" href="~/css/bootstrap.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Semester_Projekt.styles.css" asp-append-version="true" />

    @*Kalender*@
    <link rel="stylesheet" href="~/css/main.css" asp-append-version="true" />
    <script src="~/js/main.js"></script>

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-primary border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index"><img src=~/lib/Billeder/UnikLogo.PNG/></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @if (AuthService.AuthorizeAsync(User, "Tekniker").Result.Succeeded|| AuthService.AuthorizeAsync(User, "Konsulent").Result.Succeeded|| AuthService.AuthorizeAsync(User, "Sælger").Result.Succeeded|| AuthService.AuthorizeAsync(User, "Konverter").Result.Succeeded|| AuthService.AuthorizeAsync(User, "Admin").Result.Succeeded)
                        {
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-page="/Ansat/IndexAnsat">Min Profil</a>
                        </li>
                        }
                        @if (AuthService.AuthorizeAsync(User, "Kunde").Result.Succeeded)
                        {
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-page="/Kunde/IndexKunde">Min Profil</a>
                        </li>
                        }
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-page="/Kompetence/IndexKompetence">Kompetence Liste</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-page="/Projekt/IndexProjekt">Projekter</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-page="/Booking/IndexBooking">Booking</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-page="/Kalender/Kalender">Kalender</a>
                        </li>
                        @if (AuthService.AuthorizeAsync(User, "Admin").Result.Succeeded)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/RegisterAnsat">Register Ansat</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/RegisterKunde">Register Kunde</a>
                            </li>
                        }

                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-light bg-primary">
        <div class="container">
            &copy; 2022 - Semester_Projekt - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>