@page
@using Semester_Projekt.Pages.Ansat
@using StamData.Domain.Ansat.AnsatModel
@model Semester_Projekt.Pages.Kompetence.IndexModel
@{
}
<form method="post">
    <input type="hidden" asp-for="AnsatIndexViewModel.AnsatID" class="form-control" />
    <table class="table"´>
        <thead>
        <tr>
            <th>KompetenceNavn</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @if (Model.KompetenceIndexViewModel.Any())
        {
            foreach (var kompetence in Model.KompetenceIndexViewModel)
            {
                <tr>
                    <td>@kompetence.KompetenceName</td>
                    <td>
                        <a asp-page="./EditKompetence" asp-route-kompetenceId="@kompetence.KompetenceID">Edit</a>
                        <button type="button" asp-page-handler="delete" asp-route-kompetenceId="@kompetence.KompetenceID">Delete</button>
                    </td>
                </tr>
            }
        }
        </tbody>
    </table>
    <input type="button" asp-area="" asp-page="./CreateKompetence"/>
    <button type="submit" class="btn btn-default">Update Ansat</button>
</form>